.header-background-img {
  max-width: 767px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;

  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/header/mobile/background-mob@2x.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--background-color-hero),
        var(--background-color-hero)
      ),
      url(../images/header/mobile/background-mob@3x.jpg);
  }
}

.nav-menu {
  padding-top: 58px;
  padding-bottom: 97px;
}

.nav-menu__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-menu__list {
  display: flex;
  margin-bottom: 41px;
}

.nav-menu__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-font-color);
}

.nav-menu__item:first-child {
  margin-right: 39px;
}

.search-form {
  display: flex;
  position: relative;
}

.search-form__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid var(--border-bottom-input);
  color: var(--primary-font-color);
}

.search-form__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
// <!--
//             .header-nav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: 88px;

//   @media screen and (max-width: 767px) {
//     display: none;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-left: 93px;
//   }
// }

// .header-nav__item {
//   position: relative;

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }

//   &:not(:first-child) {
//     margin-left: 50px;
//   }
// } -->
