.nav-menu {
  padding-top: 58px;
  padding-bottom: 97px;
}

.nav-menu__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-menu__list {
  display: flex;
  margin-bottom: 41px;
}

.nav-menu__link {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  //   color: var(--primary-font-color);
  color: black;
}

.nav-menu__item:first-child {
  margin-right: 39px;
}

.search-form {
  display: flex;
}

.search-form__input {
  width: 100%;
}

// <!--
//             .header-nav {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: 88px;

//   @media screen and (max-width: 767px) {
//     display: none;
//   }

//   @media screen and (min-width: 1200px) {
//     margin-left: 93px;
//   }
// }

// .header-nav__item {
//   position: relative;

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }

//   &:not(:first-child) {
//     margin-left: 50px;
//   }
// } -->
