:root {
  --font-family: 'Roboto', sans-serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: #545454;

  --background-color-hero: rgba(0, 0, 0, 0.56);
  --background-color-footer: #f7f7f7;

  --border-bottom-input: #ffffff;
  --message-failure: #ff001b;
}
