:root {
  --font-family: 'Roboto', sans-serif;
  --primary-font-color: #ffffff;
  --secondary-font-color: #545454;
  --accent-font-color: #ff6b08;
  --cards-name-font-color: #000000;
  --background-color-hero: rgba(0, 0, 0, 0.56);
  --background-color-footer: #f7f7f7;

  --border-bottom-input: #ffffff;
  --message-failure: #ff001b;
}
