<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal__close__btn" data-modal-close>
      <svg class="modal__icon" width="18px" height="18px">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>

    <div class="movie-cards">
      <img class="movie-cards__img" src="./images/cards/test1.jpg" alt="" />

      <div class="movie-cards__description">
        <h2 class="movie-cards__title">A FISTFUL OF LEAD</h2>

        <div class="movie-cards__box">
          <ul class="movie-cards__informacion">
            <li class="movie-cards__informacion__item">Vote / Votes</li>
            <li class="movie-cards__informacion__item">Popularity</li>
            <li class="movie-cards__informacion__item">Original Title</li>
            <li class="movie-cards__informacion__item">Genre</li>
          </ul>

          <ul class="movie-cards__value">
            <li class="movie-cards__value__item"><span> 7.3</span> / <span>1260</span></li>
            <li class="movie-cards__value__item">100.2</li>
            <li class="movie-cards__value__item">A FISTFUL OF LEAD</li>
            <li class="movie-cards__value__item">Western</li>
          </ul>
        </div>

        <h3 class="movie-cards__about">About</h3>

        <p class="movie-cards__info">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="movie-button-wrapper">
          <button class="movie-button-wrapper__item">add to Watched</button>
          <button class="movie-button-wrapper__item">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
